.body{
	margin:auto;
	}

.container{
	
	width:960px;
	height:670px;
	margin:auto;
	}
	
.headerimage{
	height:auto;
	margin-left:0px;
	margin-top:0px;
}
.plugin{
	
	height:auto;
	margin-top:0px
	margin-left:0px;
}
	
	
	
	
